#section-hero {
  margin-bottom: 40px;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    102.87deg,
    var(--bg-section-hero-gradient-1) 6.43%,
    var(--bg-section-hero-gradient-1) 78.33%,
    var(--bg-section-hero-gradient-2) 104.24%
  );
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  .section-hero__wrapper {
    margin-top: 80px;
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media (min-width: 320px) {
      height: 650px;
    }
    @media (min-width: 1180px) {
      height: 595px;
    }
    .column-1 {
      max-width: 480px;
    }
    .section-hero__content {
      display: flex;
      margin-top: 35px;
      @media (min-width: 320px) and (max-width: 1180px) {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: center;
      }
      .section-hero__tagline {
        font-size: 46px;
        font-weight: 800;
        line-height: 60px;
        color: var(--primary-color);
        margin: 0;
        @media (min-width: 1180px) {
          font-size: 60px;
          line-height: 68px;
        }
      }
      .section-hero__subline {
        color: var(--primary-color);
        font-weight: 700;
        line-height: 38px;
        font-size: 28px;
        @media (min-width: 1180px) {
          font-size: 46px;
          line-height: 60px;
        }
      }
      .section-hero__description {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: var(--neutral-color-80);
        padding-top: 12px;
        margin-bottom: 32px;
        @media (min-width: 1180px) {
          font-size: 16px;
          padding-top: 24px;
          line-height: 24px;
          margin-bottom: 34px;
        }
      }
      .section-hero__button--action {
        display: flex;
        column-gap: 16px;
        margin-bottom: 25px;
        .button-view-intro {
          width: 161px;
        }
        .button-explore {
          width: 163px;
        }
      }
      .section-hero__image {
        img {
          z-index: 2;
          position: relative;
          object-fit: cover;
          @media (min-width: 320px) {
            &#desktop {
              display: none;
            }
            &#mobile {
              display: block;
              left: 50%;
              transform: translateX(-50%);
            }
            position: absolute;
            bottom: 0;
          }
          @media (min-width: 1180px) {
            &#desktop {
              display: block;
            }
            &#mobile {
              display: none;
            }

            bottom: -30px;
            right: -180px;
            position: absolute;
          }
        }
        .rectangle_cards {
          position: absolute;
          bottom: 0;
          @media (min-width: 320px) {
            &.desktop {
              display: none;
            }
            &.mobile {
              display: block;
              bottom: -60px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          @media (min-width: 1180px) {
            &.desktop {
              bottom: -5px;
              right: -100px;
              display: block;
            }
            &.mobile {
              display: none;
            }
          }
        }
      }
    }
  }
  .rectangle_single_card {
    position: absolute;
    bottom: 0;
    left: -100px;
    display: none;
    @media (min-width:1180px){
      display: block;
    }
  }
}
