#section-whats-new {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px;
  @media (min-width: 1180px) {
    max-width: 1180px;
    margin: auto;
     margin-bottom: 60px;
  }
  .section-whats-new__items {
    display: grid;
    margin-bottom: 16px;
    @media (min-width: 320px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;

    }
    @media (min-width: 1180px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top:28px;
      gap: 20px;

    }
    .card {
      > img {
        @media (min-width: 1180px) {
          width: 264px;
          height: 264px;
          object-fit: cover;
        }
      }
    }
    .section-whats-new__content {
      display: flex;
      flex-direction: column;
      padding: 4px;
      row-gap: 4px;
      margin-bottom: 16px;
      .title {
        color: var(--neutral-color-100);
        line-height: 20px;
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .gene,
      .age {
        color: var(--neutral-color-60);
        line-height: 18px;
        font-size: 12px;
        font-weight: 500;
      }
      .price {
        color: var(--neutral-color-100);
        line-height: 24px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .section-whats-new__button-mobile{
    display: none;
    @media (min-width: 320px) and (max-width: 1180px) {
      display: block;
    }
  }
  .section-whats-new__button-desktop{
    display: block;
    @media (min-width: 320px) and (max-width: 1180px) {
      display: none;
    }
  }
}
