@import url("https://fonts.cdnfonts.com/css/svn-gilroy");
@import "./button";
@import "./line-clamp";
:root{
  --bg-section-hero-gradient-1: #FCEED5;
  --bg-section-hero-gradient-2: #FFE7BA;
  --primary-color: #002A48;
  --secondary-color: transparent;
  --neutral-color-00: #FDFDFD;
  --neutral-color-20: #CCD1D2;
  --neutral-color-40: #99A2A5;
  --neutral-color-60: #667479;
  --neutral-color-80: #242B33;
  --neutral-color-100: #00171F;
  --dark-blue:#003459;
  --blue-sea: #00A7E7;

}
html,body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "SVN-Gilroy", sans-serif !important;
}

.overflow-hidden{
  overflow: hidden;
}

.w-full{
  width:100%;
}
.bold{
  font-weight: 700;
}

.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-full{
  border-radius: 50%;
}

.rounded-img{
  border-radius: 12px;
}
.relative{
  position:relative;
}
.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}