.button-view-intro {
  font-weight: 500;
  line-height: 24px;
  color: var(--dark-blue);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
