.search-input {
  position: relative;
  display: flex;

  .search-input__icon {
    position: absolute;
    left: 17px;
    top: 14px;
    svg{
      width: 17px;
      height: 17px;
    }
    path {
      fill: var(--neutral-color-60);
    }
  }
  input {
    font-size: 14px;
    box-sizing: border-box;
    width: 280px;
    height: 44px;
    padding-left: 50px;
    padding-right: 17px;
    border-radius: 46px;
    color: var(--neutral-color-40);
    border: none;
    font-family: "SVN-Gilroy", sans-serif !important;
  }
}
